<div class="container">
  <div class="mb-5">
    <br/>
  </div>
    <div class="row mb-5">
      <div class="col">
        <div class="wrapper">
          <div class="clash-card barbarian">
            <div class="clash-card__image clash-card__image--barbarian">
              <img
                src="../../../../assets/public/orders.png"
              />
            </div>
            
            <div class="clash-card__unit-name">Usuarios</div>
            <div class="clash-card__unit-description">
              Modulo
            </div>
          </div>
          <!-- end clash-card barbarian-->
        </div>
        <!-- end wrapper -->
      </div>
      <div class="col">
        <div class="wrapper">
          <div class="clash-card archer">
            <div class="clash-card__image clash-card__image--archer">
              <img
                src="../../../../assets/public/products.png"
              />
            </div>
            <div class="clash-card__unit-name">Productos</div>
            <div class="clash-card__unit-description">
              Modulo
            </div>
          </div>
          <!-- end clash-card archer-->
        </div>
        <!-- end wrapper -->
      </div>
      <div class="col">
        <div class="wrapper">
          <div class="clash-card giant">
            <div class="clash-card__image clash-card__image--giant">
              <img
                src="../../../../assets/public/security.png"
              />
            </div>
            <div class="clash-card__unit-name">Ordenes</div>
            <div class="clash-card__unit-description">
              Modulo
            </div>
    
          </div>
          <!-- end clash-card giant-->
        </div>
        <!-- end wrapper -->
      </div>
    </div>
  </div>
